.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 840px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 500px;
  background-image: none;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-group-1 {
    min-height: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 329px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 247px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 156px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 840px;
}

.u-section-2 .u-gallery-1 {
  width: 848px;
  height: 633px;
  grid-gap: 10px 10px;
  margin: 100px auto 0 -54px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-group-1 {
  width: 417px;
  min-height: 505px;
  margin: -633px -71px 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 70px 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0 81px;
}

.u-section-2 .u-text-2 {
  margin: 73px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    width: 475px;
  }

  .u-section-2 .u-group-1 {
    width: 465px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    width: 567px;
    margin-left: 287px;
  }

  .u-section-2 .u-group-1 {
    width: 567px;
    margin-right: auto;
    margin-left: 287px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-2 .u-group-1 {
    width: 417px;
    margin-left: 385px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: 370px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 43px;
    margin-right: 43px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 840px;
}

.u-section-3 .u-group-1 {
  width: 429px;
  min-height: 742px;
  margin: 100px auto 0 -69px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 55px 30px 50px;
}

.u-section-3 .u-text-1 {
  margin: 0 114px;
}

.u-section-3 .u-text-2 {
  margin: 73px 0 0;
}

.u-section-3 .u-gallery-1 {
  width: 848px;
  height: 633px;
  grid-gap: 10px 10px;
  margin: -742px -68px 60px auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 465px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-3 .u-gallery-1 {
    width: 475px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 567px;
    margin-left: 287px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-gallery-1 {
    width: 567px;
    margin-right: 0;
    margin-left: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 429px;
    margin-left: 385px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 840px;
}

.u-section-4 .u-gallery-1 {
  width: 848px;
  height: 633px;
  grid-gap: 10px 10px;
  margin: 100px auto 0 -54px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-group-1 {
  width: 417px;
  min-height: 667px;
  margin: -633px -71px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 56px 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0 87px;
}

.u-section-4 .u-text-2 {
  margin: 65px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-gallery-1 {
    width: 475px;
  }

  .u-section-4 .u-group-1 {
    width: 465px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-gallery-1 {
    width: 567px;
    margin-left: 287px;
  }

  .u-section-4 .u-group-1 {
    width: 567px;
    margin-right: auto;
    margin-left: 287px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-gallery-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-4 .u-group-1 {
    width: 417px;
    margin-left: 385px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-right: 370px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 840px;
}

.u-section-5 .u-group-1 {
  width: 417px;
  min-height: 505px;
  margin: 100px auto 0 -57px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 70px 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0 93px;
}

.u-section-5 .u-text-2 {
  margin: 73px 0 0;
}

.u-section-5 .u-gallery-1 {
  width: 848px;
  height: 633px;
  grid-gap: 10px 10px;
  margin: -505px -68px 0 auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 465px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-gallery-1 {
    width: 475px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 567px;
    margin-left: 287px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-gallery-1 {
    width: 567px;
    margin-right: 0;
    margin-left: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 417px;
    margin-left: 385px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-gallery-1 {
    width: 540px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-5 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 840px;
}

.u-section-6 .u-gallery-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 707px;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-12 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-13 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-14 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-15 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-16 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-17 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-18 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-18 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-19 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-20 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 12px;
  width: 40px;
  height: 40px;
  top: 279px;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 279px;
  right: 10px;
}

.u-section-6 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}